/* @config "../../tailwind.config.js"; */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../assets/font/index.scss";

:root {
    --cursor-size: 32px;
    --cursor-x: 0;
    --cursor-y: 0;
}
$gradient-cl: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
$gradient-cl-dark: linear-gradient(to right, #fb2039, #fb2056, #fb2039);
// $gradient-cl-cream: linear-gradient(to right, #f9e9d1, #dccdb7, #b7ab98);
$gradient-cl-cream: linear-gradient(to right, #f9e9d1, #f9e9d1, #f9e9d1);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    cursor: context-menu;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 1.4;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #abb2bf;
        border-radius: 24px;
        height: 2px;
    }
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

// $gradient-cl: linear-gradient(to right, #d7a849, #fcf6ba, #dea833, #fbf5b7);

.ant-alert {
    font-family: "fira";
    font-weight: 500;
    left: 50%;
    margin: 0 auto;
    position: fixed;
    top: 40%;
    transform: translateX(-50%);
    // color: black;
    transition: 0.5s;
    width: max-content;
    z-index: 100;
}

.text-gradient {
    background-clip: text;
    background-clip: text;
    background-image: $gradient-cl;
    color: transparent;
}

.text-gradient-dark {
    background-clip: text;
    background-clip: text;
    background-image: $gradient-cl-dark;
    color: transparent;
}

.text-gradient-cream {
    background-clip: text;
    background-clip: text;
    background-image: $gradient-cl-cream;
    color: transparent;
}

.border-gradient {
    border-image: $gradient-cl;
}

.bg-gradient {
    background-image: $gradient-cl !important;
}

.border-gradient-dark {
    border-image: $gradient-cl-dark;
}

.bg-gradient-dark {
    background-image: $gradient-cl-dark !important;
}

.slick-prev,
.slick-next,
.slick-arrow {
    display: none !important;
    z-index: 10;

    &::before {
        background-clip: text;
        background-clip: text;
        background-image: $gradient-cl;
        color: transparent;
        font-size: 40px;
        z-index: 10;

        @media (max-width: 765px) {
            font-size: 36px;
        }
    }
}

.slick-dots {
    display: block;
    margin-bottom: 32px;
    margin-top: 12px;
    position: relative;

    .slick-active {
        transition: 0.2s;

        button {
            border-radius: 12px;
            transition: 0.2s;
            width: 100px;
            @media (max-width: 576px) {
                width: 50px;
            }
        }
    }

    li {
        width: max-content;

        button {
            border-radius: 50%;

            &::before {
                display: none;
            }
        }
    }
}

.swiper-slide {
    height: 100vh !important;
}

.swiper {
    height: 100vh;
}

.background-dark {
    background-image: $gradient-cl-dark;
}

.background-cream {
    background-image: $gradient-cl-cream;
}

.mask {
    background: $gradient-cl-dark;

    mask-image: url("../assets/test-mask.svg");

    mask-repeat: no-repeat;

    mask-size: 40px;

    position: absolute;
}

.custom-before {
    p {
        // color: #798277;
        content: attr(data-text);
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        transition: 1s;
        // width: 0%;
        // z-index: 10;
    }
}

.green-pink-gradient {
    background: "#00cea8";
    background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
    background: linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}
